In [41]:
 import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
plt.style.use('seaborn-bright')

from statsmodels.tsa.seasonal import seasonal_decompose
import statsmodels.graphics.tsaplots as sgt
import statsmodels.tsa.stattools as sts
from statsmodels.stats.stattools import durbin_watson
from statsmodels.tsa.api import VAR
from statsmodels.tsa.api import VECM
from statsmodels.tsa.vector_ar.vecm import select_coint_rank
from statsmodels.tsa.vector_ar.vecm import coint_johansen
from statsmodels.tsa.statespace.varmax import VARMAX
from sklearn import metrics
from sklearn.model_selection import ParameterGrid
from statsmodels.tsa.stattools import adfuller
import scipy

/var/folders/76/6_zx5hh17x91wqhg7x9nz_640000gn/T/ipykernel_88359/54534221.py:6: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn-bright')

In [42]:
import pandas as pd

# Assuming merged_data_5 is the file path
merged_data_5 = 'merged_data_5.xlsx'

# Read data from Excel file into DataFrame
new_data = pd.read_excel(merged_data_5)

In [43]:
new_data

,YearMonth,RON 95,RON 97,DIESEL,selling_gold_price,buying_gold_price,RM/USD_exchange,Overnight_Interest_Rate,CPI,WTI_price
0,2017-03,2.13,2.41,2.11,5803.65,5566.04,4.44,3.00,119.4,49.67
1,2017-04,2.22,2.50,2.15,5944.58,5702.42,4.41,3.00,119.2,51.12
2,2017-05,2.08,2.36,2.01,5707.10,5480.76,4.31,3.00,119.0,48.66
3,2017-06,1.99,2.25,1.91,5730.11,5506.28,4.28,2.99,118.7,45.20
4,2017-07,1.98,2.23,1.96,5624.14,5406.38,4.29,2.98,118.7,46.70
...,...,...,...,...,...,...,...,...,...,...
72,2023-03,2.05,3.35,2.15,9048.91,8689.61,4.47,2.74,129.9,73.37
73,2023-04,2.05,3.35,2.15,9386.67,9014.83,4.42,2.74,130.0,79.44
74,2023-05,2.05,3.35,2.15,9536.10,9162.00,4.52,2.97,130.2,71.74
75,2023-06,2.05,3.37,2.15,9552.95,9179.75,4.63,2.99,130.4,70.37
76,2023-07,2.05,3.37,2.15,9489.53,9117.66,4.59,3.01,130.5,73.94

In [44]:
new_data.set_index('YearMonth', inplace=True)

In [45]:
new_data_copy = new_data[['RON 95', 'RON 97', 'DIESEL','selling_gold_price','buying_gold_price','Overnight_Interest_Rate']].copy()

In [46]:
new_data_copy.shape

(77, 6)

In [47]:
new_data_copy

,RON 95,RON 97,DIESEL,selling_gold_price,buying_gold_price,Overnight_Interest_Rate
YearMonth,,,,,,
2017-03,2.13,2.41,2.11,5803.65,5566.04,3.00
2017-04,2.22,2.50,2.15,5944.58,5702.42,3.00
2017-05,2.08,2.36,2.01,5707.10,5480.76,3.00
2017-06,1.99,2.25,1.91,5730.11,5506.28,2.99
2017-07,1.98,2.23,1.96,5624.14,5406.38,2.98
...,...,...,...,...,...,...
2023-03,2.05,3.35,2.15,9048.91,8689.61,2.74
2023-04,2.05,3.35,2.15,9386.67,9014.83,2.74
2023-05,2.05,3.35,2.15,9536.10,9162.00,2.97
2023-06,2.05,3.37,2.15,9552.95,9179.75,2.99
2023-07,2.05,3.37,2.15,9489.53,9117.66,3.01

In [48]:
0.6*77

46.199999999999996

In [49]:
df_train = new_data_copy[0:46]
df_test = new_data_copy[46:]

In [50]:
df_train

,RON 95,RON 97,DIESEL,selling_gold_price,buying_gold_price,Overnight_Interest_Rate
YearMonth,,,,,,
2017-03,2.13,2.41,2.11,5803.65,5566.04,3.00
2017-04,2.22,2.50,2.15,5944.58,5702.42,3.00
2017-05,2.08,2.36,2.01,5707.10,5480.76,3.00
2017-06,1.99,2.25,1.91,5730.11,5506.28,2.99
2017-07,1.98,2.23,1.96,5624.14,5406.38,2.98
2017-08,2.13,2.40,2.04,5819.77,5594.23,2.97
2017-09,2.19,2.49,2.10,5871.76,5644.12,2.96
2017-10,2.18,2.48,2.13,5744.71,5379.00,2.97
2017-11,2.31,2.59,2.22,5677.50,5458.32,2.94
2017-12,2.27,2.54,2.22,5467.05,5255.58,2.95
2018-01,2.28,2.55,2.32,5587.89,5371.37,3.00
2018-02,2.26,2.53,2.24,5527.37,5313.42,3.19
2018-03,2.20,2.47,2.17,5491.36,5277.14,3.20
2018-04,2.20,2.47,2.18,5503.90,5289.33,3.19
2018-05,2.20,2.47,2.18,5479.50,5263.83,3.21
2018-06,2.20,2.59,2.18,5436.60,5225.35,3.19
2018-07,2.20,2.57,2.18,5323.41,5116.27,3.22
2018-08,2.20,2.65,2.18,5213.29,5011.05,3.22
2018-09,2.20,2.72,2.18,5265.59,5061.41,3.23
2018-10,2.20,2.79,2.18,5357.30,5148.91,3.24
2018-11,2.20,2.81,2.18,5415.53,5205.47,3.22
2018-12,2.20,2.50,2.18,5530.85,5315.35,3.21
2019-01,2.00,2.30,2.12,5638.14,5419.29,3.20
2019-02,1.99,2.29,2.18,5708.71,5486.00,3.21
2019-03,2.08,2.53,2.18,5633.24,5412.90,3.22
2019-04,2.08,2.73,2.18,5611.23,5392.68,3.20
2019-05,2.08,2.74,2.18,5679.85,5460.40,3.02
2019-06,2.08,2.48,2.18,6006.89,5773.83,2.97
2019-07,2.08,2.58,2.18,6188.91,5948.95,2.99
2019-08,2.08,2.51,2.18,6662.19,6403.71,2.98
2019-09,2.08,2.62,2.18,6705.83,6445.00,2.96
2019-10,2.08,2.64,2.18,6630.45,6374.00,2.95
2019-11,2.08,2.63,2.18,6494.76,6242.81,2.97
2019-12,2.08,2.62,2.18,6509.50,6256.65,2.96
2020-01,2.08,2.57,2.18,6748.24,6486.57,2.90
2020-02,2.07,2.38,2.13,7048.05,6774.00,2.74
2020-03,1.63,1.93,1.82,7279.86,6992.64,2.51
2020-04,1.26,1.56,1.47,7763.27,7452.23,2.50
2020-05,1.32,1.62,1.47,7954.65,7638.71,2.06
2020-06,1.58,1.88,1.75,7887.48,7575.19,1.99
2020-07,1.69,1.99,1.85,8299.36,7975.18,1.79
2020-08,1.68,1.98,1.80,8782.37,8438.53,1.74
2020-09,1.67,1.97,1.72,8483.48,8149.48,1.73
2020-10,1.67,1.97,1.72,8376.24,8045.57,1.75
2020-11,1.64,1.94,1.77,8165.29,7843.52,1.74
2020-12,1.75,2.05,1.94,7987.50,7673.41,1.74

In [51]:
df_test

,RON 95,RON 97,DIESEL,selling_gold_price,buying_gold_price,Overnight_Interest_Rate
YearMonth,,,,,,
2021-01,1.87,2.17,2.05,8009.74,7694.84,1.74
2021-02,1.98,2.28,2.14,7784.53,7479.84,1.75
2021-03,2.05,2.43,2.15,7509.09,7215.00,1.72
2021-04,2.05,2.55,2.15,7679.48,7380.62,1.71
2021-05,2.05,2.60,2.15,8092.06,7774.18,1.73
2021-06,2.05,2.66,2.15,8063.35,7748.20,1.72
2021-07,2.05,2.72,2.15,8031.61,7719.44,1.74
2021-08,2.05,2.74,2.15,8001.35,7689.40,1.74
2021-09,2.05,2.74,2.15,7875.05,7568.89,1.74
2021-10,2.05,2.87,2.15,7841.60,7536.10,1.74
2021-11,2.05,3.07,2.15,8071.29,7758.76,1.74
2021-12,2.05,3.00,2.15,8004.00,7692.36,1.74
2022-01,2.05,3.07,2.15,8083.82,7771.18,1.75
2022-02,2.05,3.22,2.15,8272.56,7951.06,1.74
2022-03,2.05,3.79,2.15,8680.45,8344.00,1.74
2022-04,2.05,3.84,2.15,8771.05,8430.47,1.74
2022-05,2.05,4.32,2.15,8598.67,8263.94,1.93
2022-06,2.05,4.79,2.15,8577.81,8244.57,1.99
2022-07,2.05,4.69,2.15,8187.67,7871.11,2.19
2022-08,2.05,4.39,2.15,8365.95,8043.00,2.23
2022-09,2.05,4.14,2.15,8111.33,7798.33,2.43
2022-10,2.05,3.95,2.15,8292.89,7971.16,2.49
2022-11,2.05,3.95,2.15,8439.00,8104.25,2.71
2022-12,2.05,3.57,2.15,8409.24,8072.71,2.74
2023-01,2.05,3.35,2.15,8703.42,8359.84,2.74
2023-02,2.05,3.35,2.15,8602.11,8260.47,2.74
2023-03,2.05,3.35,2.15,9048.91,8689.61,2.74
2023-04,2.05,3.35,2.15,9386.67,9014.83,2.74
2023-05,2.05,3.35,2.15,9536.10,9162.00,2.97
2023-06,2.05,3.37,2.15,9552.95,9179.75,2.99
2023-07,2.05,3.37,2.15,9489.53,9117.66,3.01

In [52]:
#We apply the log to make the variance constant
df_train_log = np.log(df_train)

In [53]:
from statsmodels.tsa.stattools import acf, pacf, adfuller

def adf_test(time_series):
    result = adfuller(df_train_log[time_series], autolag="AIC")
    # Extract and print the test statistic, p-value, and critical values
    print('ADF Statistic (%s): %f' % (time_series, result[0]))
    print('p-value (%s): %f' % (time_series, result[1]))
    print('Critical Values:')
    for key, value in result[4].items():
        print(f'   {key}: {value}')
        
# Perform ADF test for all the time series
for col in df_train_log.columns:
    adf_test(col)
    print('-----------------------------------')

ADF Statistic (RON 95): -1.438272
p-value (RON 95): 0.563797
Critical Values:
   1%: -3.596635636000432
   5%: -2.933297331821618
   10%: -2.6049909750566895
-----------------------------------
ADF Statistic (RON 97): -1.628158
p-value (RON 97): 0.468455
Critical Values:
   1%: -3.5925042342183704
   5%: -2.931549768951162
   10%: -2.60406594375338
-----------------------------------
ADF Statistic (DIESEL): -1.404296
p-value (DIESEL): 0.580215
Critical Values:
   1%: -3.5925042342183704
   5%: -2.931549768951162
   10%: -2.60406594375338
-----------------------------------
ADF Statistic (selling_gold_price): -0.165129
p-value (selling_gold_price): 0.942553
Critical Values:
   1%: -3.5885733964124715
   5%: -2.929885661157025
   10%: -2.6031845661157025
-----------------------------------
ADF Statistic (buying_gold_price): -0.043801
p-value (buying_gold_price): 0.954756
Critical Values:
   1%: -3.5885733964124715
   5%: -2.929885661157025
   10%: -2.6031845661157025
-----------------------------------
ADF Statistic (Overnight_Interest_Rate): -0.748884
p-value (Overnight_Interest_Rate): 0.833678
Critical Values:
   1%: -3.5925042342183704
   5%: -2.931549768951162
   10%: -2.60406594375338
-----------------------------------

In [54]:
 #Let's difference our series once and drop NA values
df_train_log_diff = (df_train_log).diff().dropna()

In [55]:
def adf_test(time_series):
    result = adfuller(df_train_log_diff[time_series], autolag="AIC")
    # Extract and print the test statistic, p-value, and critical values
    print('ADF Statistic (%s): %f' % (time_series, result[0]))
    print('p-value (%s): %f' % (time_series, result[1]))
    print('Critical Values:')
    for key, value in result[4].items():
        print(f'   {key}: {value}')
        
# Perform ADF test for all the time series
for col in df_train_log_diff.columns:
    adf_test(col)
    print('-----------------------------------')

ADF Statistic (RON 95): -3.992115
p-value (RON 95): 0.001452
Critical Values:
   1%: -3.60098336718852
   5%: -2.9351348158036012
   10%: -2.6059629803688282
-----------------------------------
ADF Statistic (RON 97): -5.371789
p-value (RON 97): 0.000004
Critical Values:
   1%: -3.5925042342183704
   5%: -2.931549768951162
   10%: -2.60406594375338
-----------------------------------
ADF Statistic (DIESEL): -6.685676
p-value (DIESEL): 0.000000
Critical Values:
   1%: -3.5925042342183704
   5%: -2.931549768951162
   10%: -2.60406594375338
-----------------------------------
ADF Statistic (selling_gold_price): -4.629189
p-value (selling_gold_price): 0.000114
Critical Values:
   1%: -3.5885733964124715
   5%: -2.929885661157025
   10%: -2.6031845661157025
-----------------------------------
ADF Statistic (buying_gold_price): -5.053061
p-value (buying_gold_price): 0.000017
Critical Values:
   1%: -3.5885733964124715
   5%: -2.929885661157025
   10%: -2.6031845661157025
-----------------------------------
ADF Statistic (Overnight_Interest_Rate): -2.247972
p-value (Overnight_Interest_Rate): 0.189297
Critical Values:
   1%: -3.5925042342183704
   5%: -2.931549768951162
   10%: -2.60406594375338
-----------------------------------

In [56]:
from statsmodels.tsa.api import VAR

#Initiate VAR model
var_model = VAR(endog=df_train_log_diff)
res_var = var_model.select_order(maxlags=5, trend='ct')
res_var.summary()

/Users/sitinurularisya/anaconda3/lib/python3.11/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)

In [57]:
var_model_fit = var_model.fit(maxlags=5, ic='aic')
var_model_fit.summary()

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Sun, 12, May, 2024
Time:                     18:48:55
--------------------------------------------------------------------
No. of Equations:         6.00000    BIC:                   -42.5717
Nobs:                     40.0000    HQIC:                  -47.5855
Log likelihood:           853.955    FPE:                2.77881e-21
AIC:                     -50.4250    Det(Omega_mle):     8.88524e-23
--------------------------------------------------------------------
Results for equation RON 95
=============================================================================================
                                coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------------------------
const                             -0.006637         0.009082           -0.731           0.465
L1.RON 95                         -1.997176         0.632618           -3.157           0.002
L1.RON 97                          0.677008         0.310382            2.181           0.029
L1.DIESEL                          2.911186         0.935646            3.111           0.002
L1.selling_gold_price              3.820260         1.867070            2.046           0.041
L1.buying_gold_price              -2.246861         1.805583           -1.244           0.213
L1.Overnight_Interest_Rate         1.700404         0.521935            3.258           0.001
L2.RON 95                         -0.445839         0.616697           -0.723           0.470
L2.RON 97                          0.145030         0.294965            0.492           0.623
L2.DIESEL                         -0.944183         0.835952           -1.129           0.259
L2.selling_gold_price             -1.595623         2.814231           -0.567           0.571
L2.buying_gold_price               0.658311         2.434985            0.270           0.787
L2.Overnight_Interest_Rate         0.587402         0.456552            1.287           0.198
L3.RON 95                         -0.693804         0.604266           -1.148           0.251
L3.RON 97                          0.491418         0.270885            1.814           0.070
L3.DIESEL                         -0.500083         0.986590           -0.507           0.612
L3.selling_gold_price              4.710273         2.742963            1.717           0.086
L3.buying_gold_price              -4.800055         2.631442           -1.824           0.068
L3.Overnight_Interest_Rate        -1.425895         0.751367           -1.898           0.058
L4.RON 95                          1.396941         0.764387            1.828           0.068
L4.RON 97                         -0.429754         0.517968           -0.830           0.407
L4.DIESEL                         -0.276414         0.682398           -0.405           0.685
L4.selling_gold_price             -1.999010         3.619021           -0.552           0.581
L4.buying_gold_price               1.936742         3.754738            0.516           0.606
L4.Overnight_Interest_Rate        -0.039385         0.455000           -0.087           0.931
L5.RON 95                         -0.098877         0.865170           -0.114           0.909
L5.RON 97                         -0.602866         0.545746           -1.105           0.269
L5.DIESEL                         -0.429360         0.680716           -0.631           0.528
L5.selling_gold_price             -3.005398         3.570140           -0.842           0.400
L5.buying_gold_price               3.017135         3.584938            0.842           0.400
L5.Overnight_Interest_Rate        -0.133443         0.638610           -0.209           0.834
=============================================================================================

Results for equation RON 97
=============================================================================================
                                coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------------------------
const                             -0.000621         0.011894           -0.052           0.958
L1.RON 95                         -1.732616         0.828435           -2.091           0.036
L1.RON 97                          0.732771         0.406456            1.803           0.071
L1.DIESEL                          2.721597         1.225261            2.221           0.026
L1.selling_gold_price              6.059666         2.444992            2.478           0.013
L1.buying_gold_price              -4.285433         2.364473           -1.812           0.070
L1.Overnight_Interest_Rate         1.490972         0.683492            2.181           0.029
L2.RON 95                          0.208761         0.807586            0.259           0.796
L2.RON 97                         -0.187681         0.386266           -0.486           0.627
L2.DIESEL                         -1.359928         1.094708           -1.242           0.214
L2.selling_gold_price             -3.505980         3.685333           -0.951           0.341
L2.buying_gold_price               1.533515         3.188696            0.481           0.631
L2.Overnight_Interest_Rate        -0.124723         0.597871           -0.209           0.835
L3.RON 95                         -0.877679         0.791307           -1.109           0.267
L3.RON 97                         -0.138511         0.354734           -0.390           0.696
L3.DIESEL                          0.667497         1.291973            0.517           0.605
L3.selling_gold_price              3.774889         3.592005            1.051           0.293
L3.buying_gold_price              -3.494477         3.445964           -1.014           0.311
L3.Overnight_Interest_Rate        -1.024059         0.983941           -1.041           0.298
L4.RON 95                          2.535756         1.000992            2.533           0.011
L4.RON 97                         -0.707192         0.678297           -1.043           0.297
L4.DIESEL                         -1.242156         0.893623           -1.390           0.165
L4.selling_gold_price             -3.065389         4.739232           -0.647           0.518
L4.buying_gold_price               3.401172         4.916959            0.692           0.489
L4.Overnight_Interest_Rate         0.740865         0.595838            1.243           0.214
L5.RON 95                         -0.401496         1.132969           -0.354           0.723
L5.RON 97                         -0.412664         0.714673           -0.577           0.564
L5.DIESEL                         -0.238199         0.891421           -0.267           0.789
L5.selling_gold_price             -2.584895         4.675221           -0.553           0.580
L5.buying_gold_price               2.375393         4.694600            0.506           0.613
L5.Overnight_Interest_Rate        -0.537279         0.836282           -0.642           0.521
=============================================================================================

Results for equation DIESEL
=============================================================================================
                                coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------------------------
const                              0.003181         0.006509            0.489           0.625
L1.RON 95                         -1.321564         0.453390           -2.915           0.004
L1.RON 97                          0.124863         0.222447            0.561           0.575
L1.DIESEL                          2.264077         0.670567            3.376           0.001
L1.selling_gold_price              2.981992         1.338107            2.229           0.026
L1.buying_gold_price              -1.753347         1.294040           -1.355           0.175
L1.Overnight_Interest_Rate         1.643595         0.374065            4.394           0.000
L2.RON 95                         -0.028956         0.441980           -0.066           0.948
L2.RON 97                          0.060791         0.211398            0.288           0.774
L2.DIESEL                         -0.838485         0.599117           -1.400           0.162
L2.selling_gold_price              0.636380         2.016927            0.316           0.752
L2.buying_gold_price              -1.007529         1.745125           -0.577           0.564
L2.Overnight_Interest_Rate         1.074912         0.327206            3.285           0.001
L3.RON 95                         -0.504176         0.433070           -1.164           0.244
L3.RON 97                          0.482746         0.194140            2.487           0.013
L3.DIESEL                         -1.040133         0.707078           -1.471           0.141
L3.selling_gold_price              6.118327         1.965850            3.112           0.002
L3.buying_gold_price              -6.510823         1.885924           -3.452           0.001
L3.Overnight_Interest_Rate        -1.414160         0.538496           -2.626           0.009
L4.RON 95                          1.205881         0.547828            2.201           0.028
L4.RON 97                         -0.466318         0.371221           -1.256           0.209
L4.DIESEL                         -0.108066         0.489067           -0.221           0.825
L4.selling_gold_price              1.054232         2.593710            0.406           0.684
L4.buying_gold_price              -1.146766         2.690977           -0.426           0.670
L4.Overnight_Interest_Rate        -0.424789         0.326093           -1.303           0.193
L5.RON 95                          0.350845         0.620057            0.566           0.572
L5.RON 97                         -0.820285         0.391130           -2.097           0.036
L5.DIESEL                         -0.493412         0.487861           -1.011           0.312
L5.selling_gold_price             -2.317259         2.558678           -0.906           0.365
L5.buying_gold_price               2.299521         2.569283            0.895           0.371
L5.Overnight_Interest_Rate         0.101642         0.457684            0.222           0.824
=============================================================================================

Results for equation selling_gold_price
=============================================================================================
                                coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------------------------
const                             -0.007003         0.002932           -2.388           0.017
L1.RON 95                          0.200525         0.204254            0.982           0.326
L1.RON 97                          0.107917         0.100213            1.077           0.282
L1.DIESEL                         -0.788666         0.302093           -2.611           0.009
L1.selling_gold_price              0.235372         0.602822            0.390           0.696
L1.buying_gold_price              -0.305916         0.582969           -0.525           0.600
L1.Overnight_Interest_Rate        -0.424041         0.168517           -2.516           0.012
L2.RON 95                         -0.452758         0.199113           -2.274           0.023
L2.RON 97                          0.089389         0.095235            0.939           0.348
L2.DIESEL                          0.839058         0.269904            3.109           0.002
L2.selling_gold_price              1.017060         0.908632            1.119           0.263
L2.buying_gold_price              -0.544913         0.786185           -0.693           0.488
L2.Overnight_Interest_Rate        -0.192841         0.147407           -1.308           0.191
L3.RON 95                         -0.544327         0.195100           -2.790           0.005
L3.RON 97                          0.227131         0.087461            2.597           0.009
L3.DIESEL                          0.279109         0.318541            0.876           0.381
L3.selling_gold_price             -0.441398         0.885622           -0.498           0.618
L3.buying_gold_price               0.268728         0.849615            0.316           0.752
L3.Overnight_Interest_Rate         0.216750         0.242594            0.893           0.372
L4.RON 95                         -1.575204         0.246798           -6.383           0.000
L4.RON 97                          0.664750         0.167236            3.975           0.000
L4.DIESEL                          0.883570         0.220326            4.010           0.000
L4.selling_gold_price              0.806636         1.168475            0.690           0.490
L4.buying_gold_price              -0.752661         1.212294           -0.621           0.535
L4.Overnight_Interest_Rate        -0.060956         0.146906           -0.415           0.678
L5.RON 95                         -0.428130         0.279338           -1.533           0.125
L5.RON 97                          0.474481         0.176205            2.693           0.007
L5.DIESEL                          0.416954         0.219783            1.897           0.058
L5.selling_gold_price              0.086798         1.152693            0.075           0.940
L5.buying_gold_price               0.212170         1.157471            0.183           0.855
L5.Overnight_Interest_Rate        -0.032188         0.206188           -0.156           0.876
=============================================================================================

Results for equation buying_gold_price
=============================================================================================
                                coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------------------------
const                             -0.008065         0.002466           -3.270           0.001
L1.RON 95                          0.272935         0.171773            1.589           0.112
L1.RON 97                          0.101578         0.084277            1.205           0.228
L1.DIESEL                         -0.902376         0.254053           -3.552           0.000
L1.selling_gold_price              0.849315         0.506960            1.675           0.094
L1.buying_gold_price              -1.051670         0.490265           -2.145           0.032
L1.Overnight_Interest_Rate        -0.485278         0.141720           -3.424           0.001
L2.RON 95                         -0.563275         0.167450           -3.364           0.001
L2.RON 97                          0.056690         0.080091            0.708           0.479
L2.DIESEL                          0.955957         0.226984            4.212           0.000
L2.selling_gold_price              1.808917         0.764140            2.367           0.018
L2.buying_gold_price              -1.355405         0.661164           -2.050           0.040
L2.Overnight_Interest_Rate        -0.175199         0.123966           -1.413           0.158
L3.RON 95                         -0.603752         0.164074           -3.680           0.000
L3.RON 97                          0.279353         0.073553            3.798           0.000
L3.DIESEL                          0.384359         0.267886            1.435           0.151
L3.selling_gold_price              0.385968         0.744789            0.518           0.604
L3.buying_gold_price              -0.444042         0.714508           -0.621           0.534
L3.Overnight_Interest_Rate         0.315276         0.204017            1.545           0.122
L4.RON 95                         -1.786987         0.207552           -8.610           0.000
L4.RON 97                          0.723400         0.140642            5.144           0.000
L4.DIESEL                          0.954404         0.185290            5.151           0.000
L4.selling_gold_price              1.292144         0.982662            1.315           0.189
L4.buying_gold_price              -1.329845         1.019513           -1.304           0.192
L4.Overnight_Interest_Rate        -0.123074         0.123545           -0.996           0.319
L5.RON 95                         -0.568790         0.234917           -2.421           0.015
L5.RON 97                          0.571896         0.148185            3.859           0.000
L5.DIESEL                          0.535958         0.184833            2.900           0.004
L5.selling_gold_price              0.839211         0.969390            0.866           0.387
L5.buying_gold_price              -0.457919         0.973408           -0.470           0.638
L5.Overnight_Interest_Rate        -0.088284         0.173400           -0.509           0.611
=============================================================================================

Results for equation Overnight_Interest_Rate
=============================================================================================
                                coefficient       std. error           t-stat            prob
---------------------------------------------------------------------------------------------
const                             -0.007506         0.007006           -1.071           0.284
L1.RON 95                         -0.865788         0.488017           -1.774           0.076
L1.RON 97                          0.346726         0.239436            1.448           0.148
L1.DIESEL                          1.065074         0.721780            1.476           0.140
L1.selling_gold_price             -1.499526         1.440303           -1.041           0.298
L1.buying_gold_price               1.360636         1.392871            0.977           0.329
L1.Overnight_Interest_Rate        -0.472523         0.402634           -1.174           0.241
L2.RON 95                         -0.052822         0.475735           -0.111           0.912
L2.RON 97                         -0.038033         0.227543           -0.167           0.867
L2.DIESEL                          0.396506         0.644874            0.615           0.539
L2.selling_gold_price             -5.443235         2.170966           -2.507           0.012
L2.buying_gold_price               4.960287         1.878406            2.641           0.008
L2.Overnight_Interest_Rate         0.317236         0.352195            0.901           0.368
L3.RON 95                         -0.367420         0.466145           -0.788           0.431
L3.RON 97                          0.176909         0.208968            0.847           0.397
L3.DIESEL                          0.164723         0.761080            0.216           0.829
L3.selling_gold_price             -3.479642         2.115988           -1.644           0.100
L3.buying_gold_price               4.263405         2.029959            2.100           0.036
L3.Overnight_Interest_Rate         0.262751         0.579623            0.453           0.650
L4.RON 95                          0.966071         0.589667            1.638           0.101
L4.RON 97                          0.199996         0.399573            0.501           0.617
L4.DIESEL                         -0.674851         0.526418           -1.282           0.200
L4.selling_gold_price             -2.097304         2.791800           -0.751           0.453
L4.buying_gold_price               2.145277         2.896496            0.741           0.459
L4.Overnight_Interest_Rate         0.100493         0.350998            0.286           0.775

In [58]:
from statsmodels.stats.stattools import durbin_watson

dw_check_var = durbin_watson(var_model_fit.resid)

for col, val in zip(df_train_log_diff.columns, dw_check_var):
    print("Durbin-Watson statistic for:")
    print(col, '-->', round(val, 2))
    print("----------------------------")

Durbin-Watson statistic for:
RON 95 --> 1.87
----------------------------
Durbin-Watson statistic for:
RON 97 --> 1.78
----------------------------
Durbin-Watson statistic for:
DIESEL --> 1.88
----------------------------
Durbin-Watson statistic for:
selling_gold_price --> 2.2
----------------------------
Durbin-Watson statistic for:
buying_gold_price --> 2.1
----------------------------
Durbin-Watson statistic for:
Overnight_Interest_Rate --> 2.26
----------------------------

In [59]:
############################# prediction part ###############################

In [60]:
#Get the lag order
lag_order = var_model_fit.k_ar
print(lag_order)

5

In [61]:
#Input data for forecasting
pred_input = df_train_log_diff.values[-lag_order:]
pred_input

array([[-0.00593474, -0.00503779, -0.02739897,  0.0565679 ,  0.0564739 ,
        -0.02833051],
       [-0.00597017, -0.0050633 , -0.04546237, -0.03462556, -0.034854  ,
        -0.0057637 ],
       [ 0.        ,  0.        ,  0.        , -0.01272162, -0.01283249,
         0.01149438],
       [-0.01812738, -0.01534557,  0.02865526, -0.02550688, -0.02543392,
        -0.00573067],
       [ 0.06491955,  0.05515182,  0.09170843, -0.02201442, -0.02192661,
         0.        ]])

In [62]:
#Forecasting
var_pred = var_model_fit.forecast(y=pred_input, steps=len(df_test))

df_var_pred = pd.DataFrame(var_pred, index = df_test_log.index, columns = df_train_log_diff.columns + '_1m')

df_var_pred.tail()

,RON 95_1m,RON 97_1m,DIESEL_1m,selling_gold_price_1m,buying_gold_price_1m,Overnight_Interest_Rate_1m
YearMonth,,,,,,
2023-03,-0.042920,-0.039049,-0.031111,0.018304,0.017026,0.001249
2023-04,-0.021247,-0.009383,-0.014360,0.010934,0.010285,-0.015608
2023-05,0.009228,0.007497,0.015372,0.008211,0.009305,-0.028753
2023-06,0.013409,0.019274,0.014792,0.002118,0.002912,-0.019006
2023-07,-0.001935,0.001631,-0.004539,0.013722,0.013167,-0.013427

In [63]:
df_var_pred.shape

(31, 6)

In [64]:
# inverting transformation: single difference
def invert_transformation(df_train, df_forecast):
    """Revert back the differencing to get the forecast to original scale."""
    df_fc = df_forecast.copy()
    columns = df_train.columns
    for col in columns:        
        # Roll back 1st Diff
        df_fc[str(col)+'_forecast'] = np.log(df_train[col].iloc[-1]) + df_fc[str(col)+'_1m'].cumsum()
    return df_fc

In [65]:
df_var_pred_inv = invert_transformation(df_train, df_var_pred)
df_var_pred_inv = df_var_pred_inv.filter(regex='_forecast$',axis=1)
df_var_pred_inv = np.exp(df_var_pred_inv) 

round(df_var_pred_inv.head(), 2)

,RON 95_forecast,RON 97_forecast,DIESEL_forecast,selling_gold_price_forecast,buying_gold_price_forecast,Overnight_Interest_Rate_forecast
YearMonth,,,,,,
2021-01,2.02,2.44,2.12,7498.15,7249.74,1.89
2021-02,2.13,2.68,2.18,7250.96,6951.12,2.00
2021-03,2.12,2.74,2.20,7204.28,6936.45,2.07
2021-04,2.00,2.40,2.10,7165.40,6922.64,2.08
2021-05,1.81,2.20,1.99,7175.46,6912.49,2.21

In [66]:
import numpy as np

# Assuming df_test is your actual data and df_var_pred_inv are the predictions from your VAR model

# Calculate MAPE
var_mape = metrics.mean_absolute_percentage_error(df_test, df_var_pred_inv)

# Calculate MAE
var_mae = metrics.mean_absolute_error(df_test, df_var_pred_inv)

# Calculate RMSE
var_rmse = np.sqrt(metrics.mean_squared_error(df_test, df_var_pred_inv))

# Calculate the adjusted accuracy-like metric based on MAPE
var_model_accuracy = 1 - var_mape

# Print all the calculated metrics
print("The accuracy of the VAR out-of-sample prediction is:")
print("----------------------------------------------------")
print(f"Accuracy: {round(var_model_accuracy, 3)}")
print(f"MAE: {round(var_mae, 3)}")
print(f"RMSE: {round(var_rmse, 3)}")
print(f"MAPE: {round(var_mape, 3)}")

The accuracy of the VAR out-of-sample prediction is:
----------------------------------------------------
Accuracy: 0.837
MAE: 121.09
RMSE: 249.094
MAPE: 0.163